

/* Start:/bitrix/templates/remont_inner2/components/remont/news.list/reviews/style.css?16715345334645*/
.comment_item{
    display: flex;
    margin: 10px 0px 30px;
    flex-wrap: wrap;
}

.comment_item__link{
    width: 100%;    
    margin: 15px 0px;
    text-align: right;
}

.comment_item__showcase{
    flex-basis: 170px;
    height: 170px;
    flex-shrink: 0;
}
.comment_item__bg{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-position: 50%;
    background-size: cover;
}
.comment_item__showcase a{
    display: block;
}
.comment_item__showcase img{
    border: none;
    border-radius: 50%;
    width: 170px;
}
.comment_item__content{
    padding-left: 15px;   
    box-sizing: border-box;
    width: calc(100% - 170px);
}
.comment_item__title{
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
    align-items: center;

}
.comment_item__header{
    font-size: 24px;
    line-height: 32px;
    font-family: opensanssemibold;
    margin-right: 15px;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 5px;
}
.comment_item__location{
    font-family: opensanssemibold;
    font-size: 18px;
    line-height: 24px;
    color: #f6b600;
    padding-left: 34px;
    position: relative;
    min-width: 200px;
    padding-bottom: 5px;
}
.comment_item__location:after{
    content: '';
    background: url(/images/svg/sprite.svg) no-repeat 0px -32px;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0px;
    top: -4px;
}
.comment_item__date{
    position: absolute;
    top: -14px;
    right: 20px;
    background: #fff;
    padding: 7px 10px;
    font-size: 13px;
    line-height: 13px;
}
.comment_item__inverse .comment_item__content {
    padding-right: 15px;
    padding-left: 0px;
}
.quote_left{
    width: 24px;
    height: 16px;
    display: inline-block;
    background: #fff url(/images/common.png) no-repeat center right;
    background-size: 16px 14px;
    transform: rotate(180deg);
}
.quote_right{
    width: 24px;
    height: 16px;
    display: inline-block;
    background: #fff url(/images/common.png) no-repeat center right;
    background-size: 16px 14px;
}
.comment_item__description{
    border: 1px solid #dcdcdc;
    padding: 21px 10px;
    padding: 21px 10px;
    border-radius: 8px;
    position: relative;
}
.comment_item__description:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: -14px;
    left: -1px;
    background: #fff url(/images/common.png) no-repeat center;
    background-size: 16px 14px;
    transform: rotate(180deg);
}
.comment_item__description:after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    right: -1px;
    bottom: -14px;
    background: #fff url(/images/common.png) no-repeat center;
    background-size: 16px 14px;
}
.comment_item__properties{
    display: flex;
    justify-content: space-around;
    background-color: #f3f3f3;
    border: 1px solid #dcdcdc;
    padding: 10px;
    margin: 15px 0px 0px;
    flex-wrap: wrap;
}
.comment_item__properties .comment_item__icon{
    min-width: 110px;
    text-align: center;
    position: relative;
    margin: 10px 5px;
    padding-top: 40px;
}   
.comment_item__plot:after,
.comment_item__video:after,
.comment_item__room:after,
.comment_item__photo:after,
.comment_item__design:after{
    content: '';
    background: url(/images/svg/sprite.svg) no-repeat;
    position: absolute;
    width: 32px;
    height: 32px;
    left: calc(50% - 16px);
    top: 0px;
}
.comment_item__plot:after{
    background-position: 0px -288px;
} 
.comment_item__video:after{
    background-position: 0 -416px;
}
.comment_item__room:after{
    background-position: 0px -256px;
}
.comment_item__photo:after{
    background-position: 0 -192px;
}
.comment_item__design:after{
    background-position: 0px -384px;
}
@media screen and (max-width: 640px) {
    .comment_item {
        flex-direction: column;
        margin-bottom: 15px;
    }    
    .comment_item__link{
        text-align: center;
    }
    .comment_item__showcase {
        margin: 0 auto 10px;
    }
    .comment_item__content {
        padding: 0px;
        width: 100%;
    }
    .comment_item__title {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .comment_item__header {
        text-align: center;
        width: 100%;
        margin: 0px;
        padding-bottom: 7px;
    }
    .comment_item__location {
        display: inline-block;
        min-width: auto;
        min-height: 32px;
        padding: 0px 16px 0px 32px;
    }
    .comment_item__properties .comment_item__icon{
        margin: 5px;
    }
    
    .comment_item__inverse .comment_item__content {
        order: 1;
    }
}
/* End */
/* /bitrix/templates/remont_inner2/components/remont/news.list/reviews/style.css?16715345334645 */
